{% extends "auctions/layout.html" %}

{% block title%}
    Your listings 
{% endblock%}

{% block body %}
    <div class="container">

        <h2> Your listings </h2>
        <div class= "row"> 

            <div class="col">
            <h3>Active listings : </h3>
                {% for listing in active_listings %}
                    
                    <li>{{listing.title}} {{listing.id}} {{ listing.id }} <a href="{% url 'listing' listing.id %} "> {{listing.description}} </a> </li>

                    
                {% endfor %}
            </div>
            <div class="col">
            <h3> Closed listings: <h3>
                {% for listing in closed_listings %}
                    
                    <li>{{listing.title}} {{listing.id}} {{ listing.id }} <a href="{% url 'listing' listing.id %} "> {{listing.description}} </a> </li>
                {% endfor %} 
            </div>
        
        </div>
    </div>


{% endblock %}